assets/bootstrap/css/bootstrap.min.css
assets/bootstrap/js/bootstrap.min.js
assets/css/Article-List.css
assets/css/Footer-Basic.css
assets/css/Header-Blue.css
assets/css/styles.css
assets/fonts/font-awesome.min.css
assets/fonts/fontawesome-webfont.eot
assets/fonts/fontawesome-webfont.svg
assets/fonts/fontawesome-webfont.ttf
assets/fonts/fontawesome-webfont.woff
assets/fonts/fontawesome-webfont.woff2
assets/fonts/FontAwesome.otf
assets/fonts/ionicons.eot
assets/fonts/ionicons.min.css
assets/fonts/ionicons.svg
assets/fonts/ionicons.ttf
assets/fonts/ionicons.woff
assets/img/building.jpg
assets/img/desk.jpg
assets/img/loft.jpg
assets/img/phone.svg
assets/img/screen-content-phone.jpg
Html Project Page.bsdesign
html_handler.py
temp.html
indexed_pages.txt
