.modal-content button{
	margin: 5px;
}
.modal-content button a{
	text-decoration: blink;
}
.modal.fade:not(.in) .modal-dialog {
	-webkit-transform: translate3d(-25%, 0, 0);
	transform: translate3d(-25%, 0, 0);
}

* {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}

::-moz-selection {
  background: #C6FF91;
  text-shadow: none;
}

::selection {
  background: #C6FF91;
  text-shadow: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
body {
	background: url(); 
	margin:0px;
	padding:0; 
      align-items: center;
      justify-content: center;
}

.wrapper {
	margin: 0	;
	/* margin: 60px auto 0 auto;  */
}

/* Note styles */
.note-wrap {
	
	border-radius: 15px;
	min-width: 250px;
	/* min-height: 235px; */
	padding: 15px; 
	
	margin: 0 22px 44px 22px;
	position: absolute;
	font-size: 24px;
	vertical-align: top;
  display: inline-block;
	font-family: Englebert, Arial;
	color:#4b453c;
	background: #F7E999;
	line-height: 34px; 
	text-align: center;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
	/* pointer-events: none; */
	transition: transform 0.5s ease-in-out;
	
}
.note-wrap :before  {
      display: block;
      content: ""; 
      background: rgba(227, 200, 114, 0.40);
      width: 130px;
      height: 28px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px/18px 0;
      position: absolute;
      top: -13px;
      left: 50px;
      -webkit-transform: rotate(-2deg);
      -moz-transform: rotate(-2deg);
      -o-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
      transform: rotate(-2deg);
}
.note-wrap  a {

      color:#D83A25;
      text-decoration: none;
      font-size: 20px; 
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      transition: all 0.4s ease;
     pointer-events: none;
}

.note-yellow {
	transform: scale(.7);
	background: #F7E999;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
}
.college-mob{
      color: black;
      font-size: 18px;
}
.note-blue {
	background: #b9dcf4;
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	transform: rotate(-2deg);
}
.note-pink {
	
	background: #ffb19e;
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	-ms-transform: rotate(1deg);
	transform: rotate(1deg);
}
.note-green {
	
	background: #CAF4B9;
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	-ms-transform: rotate(-1deg);
	transform: rotate(-1deg);
}

.loadmore-btn{
	position: fixed;
	bottom: 10px;
	right: 10px;
    }