@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500&display=swap');
body{
  background-color:#161719;
  /* text-align:center; */
  
  /* overflow-x:hidden; */
}
.collage_container{
  display:inline-block;
  width:800px;
  height: 500px;
  position:relative;
  margin-top:10px;
  margin-right: 10px;
  visibility: visible;
}

.collage_piece{
  /* overflow:hidden; */
  position:absolute;
  box-sizing:border-box;
  /* background-repeat: no-repeat; */
  transition: transform 1s ease-in-out;
  transform: scale(0.7);

}
.quote-box{
  overflow:hidden;
  position:absolute;
  box-sizing:border-box;
  background-repeat: no-repeat;
  transition: transform 0.5s ease-in-out;
}

.quote-box{
  min-width: 200px;
  position: absolute;
  z-index: 1;
  color: black;
  display: inline-block;
  border: 5px solid blueviolet;
  padding: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius:20px;
  background: #7ac059;
  margin: 20px;
  transform: scale(.7);
}
.quote-box .quote{
  font-size: 18px;
  margin: 10px ;
  font-weight: 500;
}

.quote-auther .name{
  color: rgb(75, 30, 238);
  margin-right: auto;
  margin-left: auto;
}
.quote-auther .college{
  color: red;
  /* margin: 5px 5px 2px 5px; */
  margin: auto;
  visibility: hidden;
}

.hover{
  /* cursor: pointer; */
  transform: scale(1.2);
  z-index: 10;
}     
.fade-out{
  filter: blur(2px);
  /* transform: scale(.7); */
  /* font-size: 15px; */
}

.size{
  transform: 0.7;
}
.space_div{
  margin-bottom: 400px;
}
.loadmore-btn{
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.loadmore-btn2{
  position: fixed;
  bottom: 10px;
  right: 100px;
}

.modal .nav {
  transform: translate(50vw,20vh);

}
.modal-content{
  justify-content: space-evenly;
  align-items: center;
}

.modal.fade:not(.in) .modal-dialog {
	transform: translate(-10vw,0);
  
}
