@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins',sans-serif
}
body{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      background: #17a2b8;
}
.text, .key-code, .key-name{
      font-size: 45px;
      color: #17a2b8;
      font-weight: 500;
}
.text{
      font-size: 30px;
      text-align: center;
}
.box.active .text{
      display: none;
}
.box{
      width: 300px;
      background: #fff;
      padding: 25px;
      border-radius: 15px;
}
.content, .key-code, .details{
      display: flex;
      align-items: center;
      justify-content: center;
}
.box .content{
      display: none;
      flex-direction: column;
}
.box.active .content{
      display: flex;
}
.content .key-code{
      height: 110px;
      width: 110px;
      border-radius: 50%;
      border: 5px solid #17a2b8;
}

.content .details{
      width: 100%;
      justify-content: space-evenly;
      margin-top: 15px;
}
.details p{
      width: 100%;
      font-size: 18px;
      text-align: center;
}
.details p:last-child{
      border-left: 1px solid #bfbfbf;
}