/*The Orbital Spin*/
 @-moz-keyframes circle { 
    from {
        -moz-transform:rotate(360deg);
    }
    to {
        -moz-transform:rotate(0deg);
    }
}
@-o-keyframes circle {
    from {
        -o-transform:rotate(360deg);
    }
    to {
        -o-transform:rotate(0deg);
    }
}
@-webkit-keyframes circle {
    from {
        -webkit-transform:rotate(360deg);
    }
    to {
        -webkit-transform:rotate(0deg);
    }
}
@keyframes circle {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}
@-moz-keyframes inner-circle {
    from {
        -moz-transform:rotate(-360deg);
    }
    to {
        -moz-transform:rotate(0deg);
    }
}
@-webkit-keyframes inner-circle {
    from {
        -webkit-transform:rotate(-360deg);
    }
    to {
        -webkit-transform:rotate(0deg);
    }
}
@-o-keyframes inner-circle {
    from {
        -o-transform:rotate(-360deg);
    }
    to {
        -o-transform:rotate(0deg);
    }
}
@keyframes inner-circle {
    from {
        transform:rotate(-360deg);
    }
    to {
        transform:rotate(0deg);
    }
}




#rotator {
    width:350px;
    height:350px;
    margin:0 auto;
    font-size:10px;
    line-height:1;
    -moz-animation: circle 60s linear infinite;
    -webkit-animation:circle 60s linear infinite;
    -o-animation: circle 60s linear infinite;
    animation: circle  60s linear infinite;
    transform-origin: 50% 50%;
    border: 1px dotted #ffff00;
    /*Borders visible to view mechanics*/
    border-radius: 2px;
    /*Remove this*/
    background: rgba(0, 42, 255, 0.1);
    /*Remove this*/
}
/*
#rotator:hover {
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}*/

/*#rotator:hover > div {
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}*/

.spin-container {
    position: relative;
    height: 350px;
    width: 350px;
    overflow: visible;
    margin: 20% auto;
    border: 1px dotted #f00;
    /*Borders visible to view mechanics*/
    border-radius: 2px;
    /*Remove this*/
    background: rgba(255, 0, 0, 0.1);
    /*Remove this*/
}
.central-circle {
    position: absolute;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    left: 100px;
    top: 100px;
    background-color: #0ac900;
    text-align: center;
    align-items: center;
}



/* The outer limits*/

.small-circle {
    display: table;
    border: solid rgba(61, 61, 61, 0.28) 1px;
    box-shadow: 2px 2px 6px #2C2D2E;
    background: -webkit-radial-gradient(100px 100px, circle, #BBB, #D8D8D8);
    background: -moz-radial-gradient(100px 100px, circle, #BBB, #D8D8D8);
    background: radial-gradient(100px 100px, circle, #BBB, #D8D8D8);
    -moz-animation: inner-circle 60s linear infinite;
    -o-animation: inner-circle 60s linear infinite;
    -webkit-animation: inner-circle 60s linear infinite;
    animation: inner-circle 60s linear infinite;
    background-color:#e1e1e1;
    width:50px;
    height:50px;
    border-radius: 50%;
    text-rendering: geometricPrecision;


    transition: all 1s ease;
}
.small-circle .details {
    /* display: none; */
    visibility: hidden;
    pointer-events: none;
    align-content: center;
    text-align: center;
    padding-top: 15px;
}
img{
    width: 20px;
    height: 20px;
}
.details .logo{
    display: block;
    visibility: visible;
}
.little-circle{
    display: table;
    border: solid rgba(189, 32, 32, 0.856) 1.5px;
    /* background-color: #f00; */
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
.words {
    position: relative;
    z-index: 999;
}
/*The Following is just fluff, ignore or delete it as desired*/
 body {
    background: #494949;
 }


.inner i{
    margin-top: 11px;
    font-size: x-large;
}
.inner .desc{
    margin-top: 20px;
    font-size: x-large;
}

.active{
    width: 130px;
    height: 130px;
    transition: width height 2s;
    text-align: center;
    align-items: center;
}
.details-active{
    
    /* display: block; */
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s,opacity 0.5s linear;
    transition-delay: visibility 0.5 ;

    /* padding: 0px 5px 10px 10px; */
    text-align: center;
    align-items: center;
}

@-webkit-keyframes shake {
    0%  { -webkit-transform:     translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform:     translate(-1px, -2px) rotate(-2deg); }
    20% { -webkit-transform:     translate(-3px, 0px) rotate(3deg); }
    30% { -webkit-transform:     translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform:     translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform:     translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform:     translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform:     translate(2px, 1px) rotate(-2deg); }
    80% { -webkit-transform:     translate(-1px, -1px) rotate(4deg); }
    90% { -webkit-transform:     translate(2px, 2px) rotate(0deg); }
    100%{ -webkit-transform:     translate(1px, -2px) rotate(-1deg); }
   }
  

.shake {
    
    -webkit-animation-name:              shake;    
    -webkit-animation-duration:          2s;
    -webkit-animation-iteration-count:   infinite;
    -webkit-animation-timing-function:   linear;
    -webkit-transform-origin:            50% 100%;

}

